@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Luckiest+Guy&family=Poppins:wght@700&family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

body {
    background: #12274F;
    font-size: 100%;
    position: relative;
    max-width: 1280px;
    max-height: 720px;
}

/* Cabeçalho = HEADER*/
.cabeçalho {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding: 24px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;;
    font-weight: 700, Bold;
    font-size: 24px;
}


/* Logo = SHIELD*/
.logo-principal {
    position: absolute;
    width: 42.79px;
    height: 54.84px;
    left: 161.13px;
    top: 40px;
    padding-right: 25px;
    justify-content: space-around;
    align-items: center;
}

#logo{
    display: flex;
    font-family: 'Luckiest Guy';
    font-weight: 400, Regular;
    font-size: 44px;
    color: #FFFFFF;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
    width: 250.3px;
}

/* Parágrafo-Cabeçalho = PARAGRAPH*/
.paragrafo-cabeçalho {
    font-family:  sans-serif;
    font-weight: 400, Regular;
    font-size: 24px;
    color: #FFFFFF;
}

/* Bloco-Pesquisa = DIV*/
.div-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
    width: 272px;
    margin-left: 80px;
    position: relative;
    margin-bottom: 2.0%;
}

/* Principal = MAIN */
.principal {
    display: flex;
}

.secao1-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 237px;
    padding-right: 20px;
}

/* Ícone Fast Food = ICON FAST FOOD*/
.icon-fastfood{
    width: 96px;
    height: 96px;
    left: 260px;
    top: 0px;
    justify-content: space-around;
    margin-left: 11px;
    align-items: center;
    margin-top: 5.9%;
}

/*  Botões = BUTTON */
.botao-class{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botao { 
    background: #00FF75;
    box-shadow: 0px 10px 0px #12274F;
    border-radius: 50px;
    width: 250px;
    height: 96px;
    color: #FFFFFF;
    margin-top: 22px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.botao:hover{
    background-color: hsl(135, 40%, 38%);
}

/* Seções = SECTION */

.secao1-titulo {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 700, Bold;
    font-size: 55px;
    text-shadow: 0px 8px 0px #12274F;
}

.secao2-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 68px;
}

/* Rodapé = FOOTER */ 
.rodape{
    display: flex;
    padding: 60px;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 78px;
    margin-bottom: 1px;
}
